.menuMobile {
    position: relative;

    @media screen and (min-width: 768px) {
        display: none;
    }

    button {
        border: none;
        background: transparent;
        cursor: pointer;
    }
    aside {
        position: fixed;
        width: 250px;
        height: 100%;
        right: 0;
        top: 0;
        background: blue;
        z-index: 2;
    }
    .close {
        display: none;
    }
}
