.wishList {
    .favoriteButton {
        display: flex;
        align-items: flex-end;
        border: none;

        background: transparent;

        gap: 5px;

        cursor: pointer;

        .text {
            font-family: "Poppins";
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #383838;
        }

        &:hover {
            text-decoration: underline;
        }
        .icon {
            position: relative;

            .count {
                left: 20px;
                bottom: 20px;

                background: linear-gradient(
                    133.49deg,
                    #f99500 21.3%,
                    #ffcd29 133.37%
                );

                width: 20px;
                height: 20px;

                border-radius: 10px;

                position: absolute;

                font-family: "Poppins";
                font-weight: 400;
                font-size: 12px;
                line-height: 17px;
                color: #ffffff;
            }
        }
    }
    .modalContainer {
        position: fixed;
        top: 0;
        right: 0;
        width: 500px;
        height: 100%;
        z-index: 2;
        background-color: white;

        transition: all 0.3s ease-in-out;
        animation: moverElemento ease-in-out 0.3s;
        @keyframes moverElemento {
            0% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(0);
            }
        }

        .modal {
            height: 100%;

            .headerModal {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px;
                h2 {
                    font-family: "Poppins";
                    font-size: 32px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: black;
                }
                svg {
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
                    &:hover {
                        scale: 0.9;
                    }
                }
            }
            .containerContent {
                height: 90%;
                overflow-y: scroll;
                display: flex;
                gap: 5px;
                flex-direction: column;
                padding: 20px;

                .favoriteCard {
                    display: flex;
                    align-items: center;
                    position: relative;
                    // &:hover {
                    //     animation: shadow-pop-bl 0.3s
                    //         cubic-bezier(0.47, 0, 0.745, 0.715) both;
                    // }
                    // @keyframes shadow-pop-bl {
                    //     0% {
                    //         box-shadow: 0 0 #ff8a29, 0 0 #ff8a29, 0 0 #ff8a29,
                    //             0 0 #ff8a29, 0 0 #ff8a29, 0 0 #ff8a29,
                    //             0 0 #ff8a29, 0 0 #ff8a29;
                    //         transform: translateX(0) translateY(0);
                    //     }
                    //     100% {
                    //         box-shadow: -1px 1px #ff8a29, -2px 2px #ff8a29,
                    //             -3px 3px #ff8a29, -4px 4px #ff8a29,
                    //             -5px 5px #ff8a29, -6px 6px #ff8a29,
                    //             -7px 7px #ff8a29, -8px 8px #ff8a29;
                    //         transform: translateX(8px) translateY(-8px);
                    //     }
                    // }
                    .icon {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                    a {
                        text-decoration: none;

                        .infoContent {
                            .title {
                                font-weight: 700;
                                font-size: 16px;
                                color: black;
                            }
                            .id {
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 17px;
                                color: #383838;
                                opacity: 0.6;
                            }
                            .value {
                                font-weight: 700;
                                font-size: 22px;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}
