.Header {
    .topHeader {
        background: linear-gradient(92.46deg, #ff8a29 31.2%, #cf5d00 71.97%);

        @media screen and (max-width: 425px) {
            display: none;
        }

        .containerTop {
            max-width: 1440px;
            margin: 0 auto;
            padding: 0 20px;
            height: 53px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            font-family: "Poppins";
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;

            color: #ffffff;

            .infoHeader {
                display: flex;
                gap: 65px;

                > span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.75rem;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .containerHeader {
        max-width: 1440px;
        padding: 0 20px;
        margin: 0 auto;

        font-family: "Poppins";
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #383838;

        .firstPartHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .containerButtons {
                gap: 0.5rem;
                display: flex;
                @media screen and (max-width: 425px) {
                    display: none;
                }
                button {
                    display: flex;
                    align-items: flex-end;
                    border: none;
                    background: transparent;
                    gap: 5px;

                    font-family: "Poppins";
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #383838;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        > nav {
            ul {
                display: flex;
                justify-content: space-between;
                
                font-family: "Poppins";
                font-weight: 500;
                font-size: 18px;
                line-height: 25px;

                margin: 20px 0;

                color: #383838;
                @media screen and (max-width: 425px) {
                    flex-wrap: wrap;
                }
                li:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}
