.productPage {
    .container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 20px;
        .product {
            display: flex;
            font-family: "Montserrat";
            margin-bottom: 50px;
            @media screen and (max-width: 768px) {
                flex-direction: column;
            }
            .warrapImage {
                img {
                    object-fit: contain;
                    width: 100%;
                }
                .share {
                    margin-bottom: 25px;
                    h2 {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 25px;
                        color: #383838;
                        opacity: 0.8;
                    }
                    > div {
                        display: flex;
                        gap: 15px;
                        margin-top: 10px;
                        svg {
                            transition: all 0.3s ease-in-out;
                            cursor: pointer;
                            &:hover {
                                scale: 0.9;
                            }
                        }
                    }
                }
            }
            .warrapInfo {
                display: flex;
                gap: 30px;
                flex-direction: column;
                position: relative;
                h1 {
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 50px;
                    color: #121212;
                }
                .codProduct {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    color: #383838;
                    opacity: 0.8;
                }
                .warrapDiscount {
                    display: flex;
                    gap: 20px;
                    .oldValue {
                        font-weight: 400;
                        font-size: 22px;
                        line-height: 31px;
                        color: #383838;
                        text-decoration: line-through;
                        opacity: 0.8;
                    }
                    .discount {
                        background: #65c239;
                        border-radius: 3px;
                        padding: 0 10px;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 22px;

                        display: flex;
                        align-items: center;
                        text-align: center;

                        color: #ffffff;
                    }
                }

                .value {
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 56px;
                    color: #121212;
                }
                .division {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                    color: #383838;
                    opacity: 0.6;
                }

                .numbering {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    color: #383838;

                    opacity: 0.8;
                    .warrapNumbers {
                        display: flex;
                        gap: 35px;
                        margin-top: 20px;
                        @media screen and (max-width: 768px) {
                            gap: 0;
                            justify-content: space-between;
                        }
                    }
                    > button {
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 31px;

                        color: #383838;

                        border: 0.723077px solid #383838;
                        border-radius: 2.16923px;
                        background: transparent;

                        transition: all 0.3s ease-in-out;
                        cursor: pointer;

                        &:hover {
                            scale: 0.9;
                            color: black;
                        }
                    }
                }
            }
        }
        .descriptionProduct {
            h2 {
                font-weight: 600;
                font-size: 40px;
                line-height: 56px;
                color: #121212;
            }
            p {
                font-weight: 300;
                font-size: 22px;
                line-height: 40px;
                color: #383838;
            }
        }
    }
}
